.nav-link{
    margin-left: 40px;
}
#supportHero{
    background-color:rgb(56, 126, 209);
    color:white;


}
#supportHero a{
    color:white;
    margin-left: 15px;
    line-height: 40px;
}
#supportWrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;

}
#supportHero input{
    padding: 10px 30px;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}
#supportHero ol{
 padding: 10px 10px;
 line-height: 30px;
}